/*button {
    background-color: green;
    color: white;
    border-radius: 20px;

}
    */
    
.red-button {
    background-color: red; /* Red background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding for the button */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underlining */
    display: inline-block; /* Inline block element */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s; /* Transition effect */
}

.red-button:hover {
    background-color: darkred; /* Darker red on hover */
}